<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>first-heading.html</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  </head>
  <body>
    <div class="container my-5">
        <div class="row align-items-center gx-0">
            <div class="col-md-10 pe-1">
                <h2><strong>Roberto Torres.</strong></h2>
                <p>
                  No es un escritor, pero este Roberto está creando la narrativa del futuro en JavaScript.
                  A veces con puntos y comas, a veces con bugs filosóficos, pero siempre con intención literaria.
                  Roberto Torres no escribe novelas, pero sí funciones que te hacen llorar de felicidad cuando compilan sin errores.
                </p>
            </div>
            <div class="col-md-2 text-center">
               <img src="../assets/img/imageRober.png" alt="Javi-avatar" class="img-fluid rounded-circle" width="150" />
            </div>

        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  </body>
</html>