<!-- your html code here -->
<nav class="navbar navbar-expand-lg bg-white fixed-top border-bottom border-black">
    <div class="container-fluid">
        <div class="navbar-nav align-items-end">
        <a class="nav-link text-black fs-4" href="#1">Inicio</a>
        <a class="nav-link text-black" href="#2">Javier</a>
        <a class="nav-link text-black" href="#3">Roberto</a>
        <a class="nav-link text-black" href="#4">Portfolio</a>
        <a class="nav-link text-black" href="#5">Contacto</a>
        </div>
    </div>
</nav>