<div class="bodyport p-5">
  <div class="container-fluid md">
    <div clas="row md d-flex justify-content-center">
      <div class="col">
        <h1>Project Portfolio</h1>
        <p>En la fase inicial del bootcamp se desarrolló un conjunto de distintos proyectos que han sido muy buenos para aprender los distintos lenguajes html, css y Javascript. Los proyectos más prometedores y los más difíciles fueron los siguientes:</p>
      </div>
    </div>
  </div>
  <div class="container-fluid md">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem">
          <img src="https://imgproxy.domestika.org/unsafe/w:1200/rs:fill/plain/src://blog-post-open-graph-covers/000/011/559/11559-original.jpg?1695759337" class="image" alt="Instagram_feed">
          <div class="card-body">
            <h5 class="card-title">Instagram Feed</h5>
            <p class="card-text">Instagram Feed es un proyecto que fue diseñado con una combinación de elementos Bootstrap, el cual facilitó mucho la elaboración y la implementación de los distintos módulos.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem">
          <img src="https://img.freepik.com/vector-gratis/plantilla-formulario-registro-diseno-plano_23-2147971971.jpg" class="image" alt="formulario">
          <div class="card-body">
            <h5 class="card-title">El Formulario</h5>
            <p class="card-text">El formulario es un proyecto que fue diseñado con elementos de form de Bootstrap, que permite a los usuarios ingresar y enviar información específica a un servidor.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem">
          <img src="https://storage.googleapis.com/breathecode-asset-images/7b70ef9692c83a40b38d127a26c00d552d9f2b2ab976ced090d50412d9148d31.gif?raw=true" class="image" alt="generador de excusa">
          <div class="card-body">
            <h5 class="card-title">Generador de excusa</h5>
            <p class="card-text">El generador de excusas, es un proyecto con una aplicación muy divertida de JavaScript, donde se trabajó con arreglos, con cadenas de strings y una variedad de funciones.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>