<div class="container-fluid p-0">
    <header class="masthead d-flex flex-column justify-content-center"
        style="background-image: url('/website/assets/img/bg.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 100vh;">
        <div class="w-100 bg-white d-flex flex-column justify-content-center align-items-center" style="height: 150px;">
            <h1 class="fw-bold display-1 m-0 text-center">One Page Wonder</h1>
            <h2 class="fw-semibold display-4 m-0 text-center">Will Knock Your Socks Off</h2>
        </div>
    </header>
</div>